<h1>Media</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - media 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores officia consequuntur architecto praesentium nihil voluptate assumenda aliquid sequi maiores eos voluptatem aperiam asperiores mollitia, saepe cum quaerat reiciendis? Deleniti, ea.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, magnam ipsam assumenda, doloribus consectetur nobis odit, dignissimos cupiditate obcaecati unde corporis neque laborum. Id esse nam harum eaque, optio quisquam?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - media 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem inventore tenetur, voluptatum numquam, ipsa rem exercitationem quasi atque suscipit unde saepe. Nesciunt mollitia ea, ex voluptatum nam alias magni rerum!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores officia consequuntur architecto praesentium nihil voluptate assumenda aliquid sequi maiores eos voluptatem aperiam asperiores mollitia, saepe cum quaerat reiciendis? Deleniti, ea.
    </div>
</div>