<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

<h2>Tantárgyfelvétel</h2>

<div class="subTable">
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Tantárgy</th>
            <th>Szerkeztés</th>
            <th>Törlés</th>
        </thead>
    
        <tbody *ngIf="subjects.length">
            <tr *ngFor="let sub of subjects">
                <td>{{ sub.id }}</td>
                <td>{{ sub.subject }}</td>
                <td><button class="editBtn btn btn-outline-success" routerLink="/edit/{{sub.id}}"><i class="fa fa-pencil fa-fw"></i></button></td>
                <td><button  class=" deletBtn btn btn-outline-danger" (click)="delete(sub.id)">Törlés</button></td>
            </tr>
        </tbody>
    </table>
    
<div>
    <button class="btn btn-info" routerLink="/add">Felvétel</button>
</div>


<div>

