
<!-- <h2>Tantárgyfelvétel</h2>  -->

<div class="subTable">
    <div>
        <button class="btn btn-info mb-2" routerLink="/add">Felvétel</button>
    </div>
    
    <table class="table table-striped">
        <div class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Tantárgy</th>
            <th>Szerkeztés</th>
            <th>Törlés</th>
        </thead>
    
    
        <tbody *ngIf="subjects.length">
            <tr *ngFor="let sub of subjects">
                <td>{{ sub.id }}</td>
                <td>{{ sub.subject }}</td>
                <td><button class="editBtn btn btn-outline-success" routerLink="/edit/{{sub.id}}"><i class="fa fa-pencil fa-fw"></i></button></td>
                <td><button  class=" deletBtn btn btn-outline-danger" (click)="delete(sub.id)">Törlés</button></td>
            </tr>
        </tbody>
    </div>
    </table>

<div>

