<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<div class=" container mb-3">
    <label id="subjectEdit" for="subject" class="form-label">Tantárgy</label>
    <input type="text" class="form-control" [(ngModel)]="subject.subject" #Newsubject>
</div>

<div>
    <button class=" editBtn btn btn-outline-info" type="button" 
    (click)="update(Newsubject.value)">Szerkeszt</button>
</div>