<h1>Naptár</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - media 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores officia consequuntur architecto praesentium nihil voluptate assumenda aliquid sequi maiores eos voluptatem aperiam asperiores mollitia, saepe cum quaerat reiciendis? Deleniti, ea.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, magnam ipsam assumenda, doloribus consectetur nobis odit, dignissimos cupiditate obcaecati unde corporis neque laborum. Id esse nam harum eaque, optio quisquam?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - media 2</div>
    <div class="card-body">

        <header>
            <p class="current-date" ></p>
            <button >date</button>
            <div class="icons">
                <span id="prev" class="material-symbols-outlined" (click)="prev">prev</span>
                <span id="next" class="material-symbols-outlined" (click)="next">next</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Hétfő</li>
                <li>Kedd</li>
                <li>Szerda</li>
                <li>Csütörtök</li>
                <li>Péntek</li>
                <li>Szombat</li>
                <li>Vasárnap</li>
            </ul>

            <ul class="days">
                
            </ul>
        </div>
       
    </div>
</div>