<h1>Kalkulátor</h1>

    <div class="card">
        <div class="card-head">Jegyek</div>
            <div class="card-body">
                <label for="calc"></label>
                <input type="text" id="calc">
            </div>
            <div class="buttons">
                <div class="addBtn">
                    <button class="addBtn" (click)="add()">Felvesz</button>
                </div>
                <div class="calcBtn">
                    <button class="calcBtn" (click)="calc()">Számít</button>
                </div>
            </div>
    </div>